*.pyc
*.py~
*.gv
*.csv
*.txt
*.jpg
*.log
*.pdf
*.pptx
*.zip
*.h5
*.sqlite3
*.sqlite3-journal
*.xlsx
/.metadata/
*.DS_Store
*.idea
django_config/logs/*
django_config/logs/
office365
office365/*
/archive
/static
old_db/*
old_db
*.sqlite3