{% extends 'base.html' %}
{% load bootstrap3 %}



{% block javascript %}


<script>

function registration(){
  document.location.href = url_prefix() + "/accounts/register"
}
</script>
{% endblock %}



{% block content %}

<div class="panel-header panel-header-sm">
</div>

<div class="content">
  <div class="row">
    <div class="col-md-12" align='center' >
      <div class="card text-left" style='width : 30rem'>

        <!-- Card title -->
        <div class="card-header ">
          <div class='row'>
            <div class='col'>
              <!-- <h5 class="card-category" id=calendar_type>Excursion Information</h5> -->
              <h4 class="card-title">Sign in with credentials</h4>
            </div>
          </div>
        </div>

        <div class="card-body ">
          <!-- <a href="{{signin_url}}" role="button" id="connect-button">
            <div class="icon bg-white text-blue rounded-circle">
              <i class="ti-microsoft"></i>
            </div>
            <div class="text-blue">
              Office365
            </div>
          </a> -->

          <form action="{% url 'auth:login' %}" method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form layout='inline' %}
              {% buttons %}

              <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "user" %} Login
              </button>
              {% endbuttons %}
          </form>

          <hr>
          <div class="text-left">
            <span class="badge badge-pill badge-primary"
                  onclick="registration()">
              <i class="fa fa-registered" style='padding-right:10px'></i>
              Create new account
            </span>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
