{% extends 'base.html' %}
{% load bootstrap3 %}


{% block content %}

<div class="panel-header panel-header-sm">
</div>

<div class="content">
  <div class="row">
    <div class="col-md-12" align='center' >
      <div class="card text-left" style='width : 30rem'>

        <!-- Card title -->
        <div class="card-header ">
          <div class='row'>
            <div class='col'>
              <!-- <h5 class="card-category" id=calendar_type>Excursion Information</h5> -->
              <h4 class="card-title">Registration</h4>
            </div>
          </div>
        </div>

        <div class="card-body ">

          <form method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form form layout='inline' %}
              {% buttons %}

              <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "user" %} Login
              </button>
              {% endbuttons %}
          </form>

          <hr>
          <div class="col-6 text-left">
            <small> Already have an account?</small>
            <a href="{% url 'auth:login' %}" >
              <small>Login</small>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
