
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>


  <meta charset="utf-8">
  <!-- <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png"> -->

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Anomaly Detection</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

  <!-- <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1"> -->


  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <!-- <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> -->
  <!-- CSS Just for demo purpose, don't include it in your project -->

  <link rel="stylesheet" href="{% static 'plugins/fontawesome-5.7.1/css/all.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'plugins/now_ui/assets/css/bootstrap.min.css' %}"> -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap-4.2.1/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/now_ui/assets/css/now-ui-dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/now_ui/assets/demo/demo.css' %}">

  <!-- <link rel="stylesheet" href="{% static 'css/my_css.css' %}"> -->

  {% block css %}{% endblock %}


</head>




<body>


  <div class="wrapper ">
    <div class="sidebar" data-color="orange">

      <div class="logo">
        <a href="" class="simple-text logo-mini">
          <!-- COS -->
        </a>
        <a href="" class="simple-text logo-normal">
          TPE Toolkit
        </a>
      </div>

      <div class="sidebar-wrapper">

        <ul class="nav">
          <h6 class="simple-text logo-normal" style=" padding-left:80px;
                                                      padding-top:5vh;
                                                      color:#FFFFFF;
                                                      text-transform: uppercase">
            Training
          </h6>
          <hr style=" margin-left: 20px;
                      margin-right: 20px;
                      background-color:#f8f9fa;
                      border-width: 1px;">


          <li id='sidebar_Exensio_Yield_Training'>
            <a onclick="main_page_class.open('Exensio Yield', 'Training')">
              <i class="fab fa-erlang"></i>
              <p>Exensio Yield</p>
            </a>
          </li>

          <li id='sidebar_Optimal_Training'>
            <a onclick="main_page_class.open('Optimal+', 'Training')">
              <i class="fas fa-plus"></i>
              <p>Optimal+</p>
            </a>
          </li>



          <h6 class="simple-text logo-normal" style=" padding-left:70px;
                                                      padding-top:5vh;
                                                      color:#FFFFFF;
                                                      text-transform: uppercase">
            Templates
          </h6>
          <hr style=" margin-left: 20px;
                      margin-right: 20px;
                      background-color:#f8f9fa;
                      border-width: 1px;">

          <li id='sidebar_Exensio_Yield_Template'>
            <a onclick="main_page_class.open('Exensio Yield', 'Template')">
              <i class="fab fa-erlang"></i>
              <p>Exensio Yield</p>
            </a>
          </li>

          <li id='sidebar_Optimal_Template'>
            <a onclick="main_page_class.open('Optimal+', 'Template')">
              <i class="fas fa-plus"></i>
              <p>Optimal+</p>
            </a>
          </li>

          <li id='sidebar_Tableau_Template'>
            <a onclick="main_page_class.open('Tableau', 'Template')">
              <i class="fas fa-plus-square"></i>
              <p>Tableau</p>
            </a>
          </li>

          <li id='sidebar_JMP_Template'>
            <a onclick="main_page_class.open('JMP', 'Template')">
              <i class="fas fa-spinner"></i>
              <p>JMP</p>
            </a>
          </li>
          {% if user.is_superuser %}
          {% endif %}
        </ul>
      </div>



    </div>



    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" id="top_navbar_brand">BRAND</a>
          </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                  aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form action="{% url 'doc:test' %}" onsubmit="cache_search()">
              <div class="input-group no-border">
                <input type="text" id='search_field' class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                  </div>
                </div>
              </div>
            </form>

            <ul class="navbar-nav">
              <!-- <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="now-ui-icons media-2_sound-wave"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                  </p>
                </a>
              </li> -->

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="now-ui-icons location_world"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>

              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'auth:logout' %}">
                    <i class="now-ui-icons users_circle-08"></i>
                  </a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'auth:login' %}">
                    <i class="now-ui-icons users_single-02"></i>
                  </a>
                </li>
              {% endif %}

            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->

      {% block content %}{% endblock %}


      <footer class="footer">
        <div class="container">
          <nav>
            <ul>
              <li>
                <a href="">
                  Cost Optimization and Solutions
                </a>
              </li>
              <li>
                <a href="">
                  About Us
                </a>
              </li>
              <li>
                <a href="">
                  Blog
                </a>
              </li>
            </ul>
          </nav>
        </div>
        {% block footer %}{% endblock %}

      </footer>
    </div>
  </div>




  <script src="{% static 'js/jquery.min.js' %}"></script>
  <!-- <script src="{% static 'js/core/popper.min.js' %}"></script> -->
  <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
  <script src="{% static 'plugins/now_ui/assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap-4.2.1/js/bootstrap.min.js' %}"></script>

  <script src="{% static 'plugins/now_ui/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static 'plugins/now_ui/assets/js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static 'plugins/now_ui/assets/js/plugins/bootstrap-notify.js' %}"></script>
  <script src="{% static 'plugins/now_ui/assets/js/now-ui-dashboard.min.js' %}"></script>
  <script src="{% static 'plugins/sweetalert/dist/sweetalert2.all.min.js' %}"></script>
  <!-- <script src="{% static 'js/excursion_detection/utils.js' %}"></script>
  <script src="{% static 'js/excursion_detection/excursions/views/excursions.js' %}"></script> -->


  <script src="{% static 'js/nxp_tools/utils.js' %}"></script>
  <script src="{% static 'js/nxp_tools/category_form.js' %}"></script>
  <script src="{% static 'js/nxp_tools/document_form.js' %}"></script>
  <script src="{% static 'js/nxp_tools/element_form.js' %}"></script>
  <script src="{% static 'js/nxp_tools/element_modal.js' %}"></script>
  <script src="{% static 'js/nxp_tools/main.js' %}"></script>

  <script>
    main_page_class = new main_page('{{user.is_superuser}}')
  </script>

  {% block javascript %}{% endblock %}

</body>

</html>
