
{% load static %}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Excursion Detection</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}


        <link rel="stylesheet" href="{% static 'css/w3.css' %}">
        <link rel="stylesheet" href="{% static 'css/w3-theme-black.css' %}">

    </head>




    <body>


        <header>
          <div class="w3-top">
            <div class="w3-row w3-large w3-teal">
              <div class="w3-col s2">
                <a href="{% url 'main:exceptions' %}" class="w3-button w3-block">Exceptions</a>
              </div>

              <div class="w3-col s2">
                <a href="{% url 'main:logs' %}" class="w3-button w3-block">Logs</a>
              </div>

            </div>
          </div>
        </header>


        <main>
          <div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
            {% block content %}{% endblock %}
          </div>
        </main>

        <footer>
        </footer>

        {% block css %}{% endblock %}
        {% block javascript %}{% endblock %}

    </body>

</html>
